[req]
default_bits = 2048
prompt = no
default_md = sh256
distinguished_name = dn

[dn]
C=US
ST=New York
L=Rochester
O=End Point
OU=Testing Domain
emailAddress=ReplaceWithYourEmail@gmail.com
CN=localhost
